<%= form_with url: "/applications/", method: :post, local: true do |f| %>
  <p><%= f.label :name %></p>
  <p><%= f.text_field :name %></p>

  <p><%= f.label :street %></p>
  <p><%= f.text_field :street %></p>

  <p><%= f.label :city %></p>
  <p><%= f.text_field :city %></p>

  <p><%= f.label :state %></p>
  <p><%= f.text_field :state %></p>

  <p><%= f.label :zip %></p>
  <p><%= f.number_field :zip %></p>

  <%= f.submit "Save"%>
<% end %>
