<h1> Name: <%= @application.name %></h1>
<h3> Address: </h3>
<p><%= @application.street %> </p>
<p><%= @application.city %> </p>
<p><%= @application.state %> </p>
<p><%= @application.zip %> </p>
<h3> Description: <%= @application.description %></h3>
<h3> Status: <%= @application.status %></h3>
